# --- IDEs
.idea/
.vscode/
*.swp
*.iml

# --- Python / Backend ---
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env
backend/app.db
backend/instance/

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.idea/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata

# OS
.DS_Store
Thumbs.db