# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/app.db
backend/.env

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.idea/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata

# OS
.DS_Store
Thumbs.db